[MASTER]
disable=
    too-few-public-methods,
    too-many-arguments,
    too-many-function-args,
    too-many-locals,
    too-many-statements,
    too-many-branches,
    too-many-nested-blocks,
    superfluous-parens,
    deprecated-method,
    duplicate-code,
    no-member,
    bare-except
[FORMAT]
    max-line-length=90
