[MASTER]
disable=
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-statements,
    too-many-branches,
    superfluous-parens,
    deprecated-method,
    duplicate-code,
    no-member
