input
    run_prefix = {0}
    save_prefix = {1}
end input

pes
    1: 1
end pes

# spc
    1,2,3,4,5
end spc

els
    spc init_geom     runlvl=wbsgs   inplvl=wbsgs
    ts  find_ts       runlvl=wbsgs   inplvl=wbsgs
    all hr_scan       runlvl=wbsgs   inplvl=wbsgs  tors_model=1dhrfa
    all conf_energy   runlvl=mp2dz   inplvl=wbsgs
    all conf_hess     runlvl=wbsgs   inplvl=wbsgs
end els

# thermo
    write_mess      kin_model=global  spc_model=global
    run_mess        kin_model=global  spc_model=global  nprocs=10
    run_fits        kin_model=global  spc_model=global
end thermo

# ktp
    write_mess      kin_model=global  spc_model=global
    run_mess        nprocs=10
    run_fits        kin_model=global spc_model=global
end ktp
