input
    run_prefix = {0}
    save_prefix = {1}
end input

pes
    1: 1
end pes

spc
    5
end spc

els
    spc init_geom     runlvl=mp2gs   inplvl=mp2gs
    ts  find_ts       runlvl=mp2gs   inplvl=mp2gs
    all hr_scan       runlvl=mp2gs   inplvl=mp2gs  tors_model=1dhrfa
    all conf_energy   runlvl=mp2dz   inplvl=mp2gs
    all conf_hess     runlvl=mp2gs   inplvl=mp2gs
end els

thermo
    write_mess      kin_model=global  spc_model=global
    run_mess        kin_model=global  spc_model=global  nprocs=10
    run_fits        kin_model=global  spc_model=global
end thermo

ktp
    write_mess      kin_model=global  spc_model=global
    run_mess        nprocs=10
    run_fits        kin_model=global spc_model=global
end ktp
