[MASTER]
max-module-lines=1500
disable=
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-statements,
    too-many-nested-blocks,
    too-many-branches,
    too-many-instance-attributes,
    bare-except,
    superfluous-parens,
    deprecated-method,
    duplicate-code,
    no-member,
    global-statement,
